main{
    background-color: white;
    width: 100%;
    display: block;
}


.team{
    width: 100%;
    padding: 20px;
    /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    /* background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
    /* background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%); */
    /* background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%); */
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.team header{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bolder;
}

.team .team-section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.team .team-section div{
    width: 240px;
    height: 450px;
    float: left;
    margin: 10px;
    border: 3px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team .team-section div img{
    width: 94%;
    height: 75%;
    background-color: #212121c7;
    transition: 0.4s ease;

}

.team .team-section img:hover{
    zoom: 1.2;
    width: 100%;
    height: 77.5%;
    cursor: pointer;
}

.team .team-section img:hover~section{
    padding-top: 0px;
}

.team .team-section div section{
    display: block;
    width: 100%;
    height: 21%;
    padding-top: 5px;
}

.team .team-section div section span{
    width: 100%;
    display: block;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    height: 27px;
    transition: 0.4s ease;
    border-top: 2px solid black;
}

.team .team-section div section span:hover{
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}